header{
    background-color: lighten($color1, 45%);
    height: calc($size *2);
    h1{
        margin: 0;
      }
    .topic {
            color: darken($color1, 35%);
            font-size: calc($size /2);
            text-align: center;
           padding-top: 15px;
        }
        .topic_smaller {
            color: darken($color1, 30%);
            font-size: calc($size / 3);
            text-align: center;
        }
}
