$color1: blue;
$color2: rgb(29, 250, 29);
$color3: rgba(255, 255, 0, 0.102);
$color4: rgba(255, 255, 0, 0.612);
$color5: rgb(199, 249, 199);
$color6: rgb(224, 224, 250);
$width: 1200px;
$size: 100px;
$font-size: 22px;
$font-family: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;

$brakepoint_xl: 1024px;
$brakepoint_md: 767px;
$brakepoint_sm: 567px;
$width_xl: 800px;
$width_md: 767px;
$width_sm: 567px
